img {
  width: 1920px;
  height: 1080px;
  object-fit: contain;
}
/* h3{
top: 139px;
left: 834px;
width: 691px;
height: 375px;
text-align: right;
right:0;
font: normal normal normal 100px/120px Abril Fatface;
letter-spacing: 0px;
opacity: 1;
} */
button {
  /* top: 554px;
  left: 834px;
  width: 107px;
  height: 30px; */
  background: #cb2229 0% 0% no-repeat padding-box;
  border: 1px solid #cb2229;
  opacity: 1;
  align-items: right;
}
