.Home{
    background:url("https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:d53654fa-992b-47af-9319-b5c8911a65e6;revision=0?component_id=189bb600-7ba4-479e-a918-e1475787eb81&api_key=CometServer1&access_token=1633114348_urn%3Aaaid%3Asc%3AUS%3Ad53654fa-992b-47af-9319-b5c8911a65e6%3Bpublic_b702e3de166202a8c89320f70fc59d6040c53bf5") no-repeat center center fixed;
    width:1920px;
    height: 1080px;
}